---
layout: default
---
<div class="container">
    <div class="row">
        <div class="col-xs-9">
            {% include header.html %}

            <br>

            <div class="row">
                <section class="col-xs-12">
                    {% include sections/instalando-e-configurando.html %}
                    <br>
                    {% include sections/criando-o-projeto.html %}
                    <br>
                    {% include sections/basico.html %}
                    <br>
                    {% include sections/branch-e-merge.html %}
                    <br>
                    {% include sections/compartilhar-e-atualizar.html %}
                    <br>
                    {% include sections/inspecao-e-comparacao.html %}
                    <br>
                    {% include sections/pacotes.html %}
                    <br>
                    {% include sections/debugando.html %}
                    <br>
                    {% include sections/email.html %}
                    <br>
                    {% include sections/sistemas-externos.html %}
                    <br>
                    {% include sections/administracao.html %}
                    <br>
                    {% include sections/servidor.html %}
                    <br>
                    {% include sections/canalizacao-de-codigo.html %}
                </section>

            </div>

        </div>
        <div class="col-xs-3">
            {% include nav.html %}
        </div>
    </div>
    <br>
    {% include footer.html %}
</div>
