<article class="row" id="administration">
    <h2 class="col-xs-12">Administração</h2>

    <div id="gitclean" class="col-xs-12">
        <h4>git clean</h4>
    </div>
    <div id="gitgc" class="col-xs-12">
        <h4>git gc</h4>
    </div>
    <div id="gitfsck" class="col-xs-12">
        <h4>git fsck</h4>
    </div>
    <div id="gitreflog" class="col-xs-12">
        <h4>git reflog</h4>
    </div>
    <div id="gitfilterbranch" class="col-xs-12">
        <h4>git filter-branch</h4>
    </div>
    <div id="gitinstaweb" class="col-xs-12">
        <h4>git instaweb</h4>
    </div>
    <div id="gitarchive" class="col-xs-12">
        <h4>git archive</h4>
    </div>
</article>
