<article class="row" id="branch">
    <h2 class="col-xs-12">Branch e Merge</h2>

    <div class="col-xs-12">
        <h4 id="gitbranch">git branch</h4>
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li class="active"><a href="#gitbranch1" role="tab" data-toggle="tab"><h3>Branch Básico</h3></a>
            </li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
            <div class="tab-pane fade in active" id="gitbranch1">
                <br/>

                <p>Um branch no Git é simplesmente um leve ponteiro móvel para um dos commits. O nome do branch padrão no Git é master. Como você inicialmente fez commits, você tem um branch principal (<b>master
    branch</b>) que aponta para o último commit que você fez. Cada vez que você faz um commit ele avança automaticamente.
                    <br/>O que acontece se você criar um novo branch? Bem, isso cria um novo ponteiro para que você possa se mover. Vamos dizer que você crie um novo branch chamado testing. Você faz isso com o comando <b>git branch</b>:</p>

                <div class="well well-sm">git branch testing</div>
                <p>Isso cria um novo ponteiro para o mesmo commit em que você está no momento.
                    <br/>Para mudar para um branch existente, você executa o comando <b>git checkout</b>. Vamos mudar para o novo branch testing:
                </p>

                <div class="well well-sm">git checkout testing</div>
                <p>Isto move o HEAD para apontar para o branch testing.</p>
            </div>
        </div>
    </div>
    <div class="col-xs-12">
        <h4 id="gitcheckout">git checkout</h4>
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li class="active"><a href="#gitcheckout1" role="tab" data-toggle="tab"><h3>Mudando de Branch</h3></a>
            </li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
            <div class="tab-pane fade in active" id="gitcheckout1">
                <br/>
                <p>Com o <b>git checkout</b> você pode mudar de branch, caso a branch ainda não exista você poderá passar o parâmetro <b>-b</b> para criar.</p>
                <div class="well well-sm">git checkout -b {nome_da_branch}</div>
            </div>
        </div>
    </div>
    <div class="col-xs-12">
        <h4 id="gitmerge">git merge</h4>
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li class="active"><a href="#gitmerge1" role="tab" data-toggle="tab"><h3>Merge Básico</h3></a>
            </li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
            <div class="tab-pane fade in active" id="gitmerge1">
                <br/>
                <p>Suponha que você decidiu que o trabalho na tarefa #53 está completo e pronto para ser feito o merge no branch <b>master</b>. Para fazer isso, você fará o merge do seu branch <b>iss53</b>, bem como o merge do branch <b>hotfix</b> de antes. Tudo que você tem a fazer é executar o checkout do branch para onde deseja fazer o merge e então rodar o comando <b>git merge</b>:</p>
                <div class="well well-sm">git checkout master
                    <br/>git merge iss53</div>
            </div>
        </div>
    </div>
    <div class="col-xs-12">
        <h4 id="gitmergetool">git mergetool</h4>
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li class="active"><a href="#gitmergetool1" role="tab" data-toggle="tab"><h3>Resolvendo conflitos</h3></a>
            </li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
            <div class="tab-pane fade in active" id="gitmergetool1">
                <br/>
                <p>Se você quer usar uma ferramenta gráfica para resolver esses problemas, você pode executar o seguinte comando que abre uma ferramenta visual de merge adequada e percorre os conflitos.</p>
                <div class="well well-sm">git mergetool</div>
                <h5>Arquivos Temporários</h5>
                <p><b>git mergetool</b> cria <b>* .orig</b> arquivos de backup ao resolver fusões. Estes são seguros para remover uma vez que um arquivo foi fundida e sua <b>git mergetool</b> sessão foi concluída.</p>
            </div>
        </div>
    </div>
    <div class="col-xs-12">
        <h4 id="gitlog">git log</h4>
        <!-- Nav Tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li class="active"><a href="#gitlog1" role="tab" data-toggle="tab"><h3>Histórico de Commits</h3></a>
            </li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
            <div class="tab-pane fade in active" id="gitlog1">
                <br/>
                <p>Depois que você tiver criado vários commits, ou se clonou um repositório com um histórico de commits existente, você provavelmente vai querer ver o que aconteceu. A ferramente mais básica e poderosa para fazer isso é o comando:</p>
                <div class="well well-sm">git log</div>
            </div>
        </div>
    </div>
    <div class="col-xs-12">
        <h4 id="gitstash">git stash</h4>
        <!-- Nav Tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li class="active"><a href="#gitstash1" role="tab" data-toggle="tab"><h3>Fazendo Stash</h3></a>
            </li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
            <div class="tab-pane fade in active" id="gitstash1">
                <br/>
                <p>Muitas vezes, quando você está trabalhando em uma parte do seu projeto, as coisas estão em um estado confuso e você quer mudar de branch por um tempo para trabalhar em outra coisa. O problema é, você não quer fazer o commit de um trabalho incompleto somente para voltar a ele mais tarde. A resposta para esse problema é o comando <b>git stash</b>.
                    <br>Você quer mudar de branch, mas não quer fazer o commit do que você ainda está trabalhando; você irá fazer o stash das modificações. Para fazer um novo stash na sua pilha, execute:</p>
                <div class="well well-sm">git stash</div>
                <p>Seu diretório de trabalho estará limpo.
                    <br>Neste momento, você pode facilmente mudar de branch e trabalhar em outra coisa; suas alterações estão armazenadas na sua pilha. Para ver as stashes que você guardou, você pode usar</p>
                <div class="well well-sm">git stash list</div>
                <p>Você pode aplicar aquele que acabou de fazer o stash com o comando mostrado na saída de ajuda do comando stash original: <b>git stash apply</b>. Se você quer aplicar um dos stashes mais antigos, você pode especificá-lo, assim: <b>git stash apply stash@{2}</b>. Se você não especificar um stash, Git assume que é o stash mais recente e tenta aplicá-lo.</p>
            </div>
        </div>
    </div>
    <div class="col-xs-12">
        <h4 id="gittag">git tag</h4>
        <!-- Nav Tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li class="active"><a href="#gitstag1" role="tab" data-toggle="tab"><h3>Tagging</h3></a>
            </li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
            <div class="tab-pane fade in active" id="gitstag1">
                <br/>
                <p>Git tem a habilidade de criar tags em pontos específicos na história do código como pontos importantes. Geralmente as pessoas usam esta funcionalidade para marcar pontos de release (v1.0, e por aí vai). Nesta seção, você aprenderá como listar as tags disponíveis, como criar novas tags, e quais são os tipos diferentes de tags.
                    <br>Para listar as <b>tags</b> execute:</p>
                <div class="well well-sm">
                    git tag
                </div>
                <p>Para criar uma <b>tag</b> basta executar o seguinte comando, caso não queira criar a <b>tag</b> anotada, somente retire os parâmetros <b>-a</b> e <b>-m</b>.</p>
                <div class="well well-sm">
                    git tag -a v1.4 -m 'my version 1.4'
                </div>
            </div>
        </div>
    </div>
</article>
