<article class="row" id="plumbing">
    <h2 class="col-xs-12">Canalização de Código</h2>

    <div id="gitcatfile" class="col-xs-12">
        <h4>git cat-file</h4>
    </div>
    <div id="gitcommittree" class="col-xs-12">
        <h4>git commit-tree</h4>
    </div>
    <div id="gitcountobjects" class="col-xs-12">
        <h4>git count-objects</h4>
    </div>
    <div id="gitdiffindex" class="col-xs-12">
        <h4>git diff-index</h4>
    </div>
    <div id="gitforeachref" class="col-xs-12">
        <h4>git for-each-ref</h4>
    </div>
    <div id="githashobject" class="col-xs-12">
        <h4>git hash-object</h4>
    </div>
    <div id="gitmergebase" class="col-xs-12">
        <h4>git merge-base</h4>
    </div>
    <div id="gitreadtree" class="col-xs-12">
        <h4>git read-tree</h4>
    </div>
    <div id="gitrevlist" class="col-xs-12">
        <h4>git rev-list</h4>
    </div>
    <div id="gitrevparse" class="col-xs-12">
        <h4>git rev-parse</h4>
    </div>
    <div id="gitshowref" class="col-xs-12">
        <h4>git show-ref</h4>
    </div>
    <div id="gitsymbolicref" class="col-xs-12">
        <h4>git symbolic-ref</h4>
    </div>
    <div id="gitupdateindex" class="col-xs-12">
        <h4>git update-index</h4>
    </div>
    <div id="gitupdateref" class="col-xs-12">
        <h4>git update-ref</h4>
    </div>
    <div id="gitverifypack" class="col-xs-12">
        <h4>git verify-pack</h4>
    </div>
    <div id="gitwritetree" class="col-xs-12">
        <h4>git write-tree</h4>
    </div>
</article>
