<article class="row" id="criando-o-projeto">
    <h2 class="col-xs-12">Criando o projeto</h2>

    <div class="col-xs-12">
        <h4 id="gitinit">git init</h4>
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li class="active"><a href="#gitinit1" role="tab" data-toggle="tab"><h3>Repositório Git</h3></a>
            </li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
            <div class="tab-pane fade in active" id="gitinit1">
                <br>

                <p>Você pode obter um projeto Git utilizando duas formas principais. A primeira faz uso de um projeto ou diretório existente e o importa para o Git. A segunda clona um repositório Git existente a partir de outro servidor.</p>
                <br/>
                <h5>Inicializando um Repositório em um Diretório Existente</h5>

                <p>Caso você esteja iniciando o monitoramento de um projeto existente com Git, você precisa ir para o diretório do projeto e digitar</p>

                <div class="well well-sm">git init</div>
                <p>Isso cria um novo subdiretório chamado .git que contem todos os arquivos necessários de seu repositório — um esqueleto de repositório Git. Neste ponto, nada em seu projeto é monitorado.
                </p>
                <br/>
                <h5>Primeira versão</h5>

                <p>Caso você queira começar a controlar o versionamento dos arquivos existentes (diferente de um diretório vazio), você provavelmente deve começar a monitorar esses arquivos e fazer um commit inicial. Você pode realizar isso com poucos comandos</p>

                <div class="well well-sm">touch .gitignore
                    <br/>git add .gitignore
                    <br/>git commit -m "Versão inicial do projeto"
                </div>
                <p>Bem, nós iremos repassar esses comandos em um momento. Neste ponto, você tem um repositório Git com arquivos monitorados e um commit inicial.</p>
            </div>
        </div>

    </div>
    <div class="col-xs-12">
        <h4 id="gitclone">git clone</h4>
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li class="active"><a href="#gitclone1" role="tab" data-toggle="tab"><h3>Clonando um Repositório
Existente</h3></a>
            </li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
            <div class="tab-pane fade in active" id="gitclone1">
                <br>

                <p>Você clona um repositório com <b>git clone [url]</b>. Por exemplo, caso você queria clonar a biblioteca Git do Ruby chamada Grit, você pode fazê-lo da seguinte forma:</p>

                <div class="well well-sm">git clone git://github.com/schacon/grit.git</div>
                <p>Se você entrar no novo diretório grit, você verá todos os arquivos do projeto nele, pronto para serem editados ou utilizados. Caso você queira clonar o repositório em um diretório diferente de grit, é possível especificar esse diretório utilizando a opção abaixo:</p>

                <div class="well well-sm">git clone git://github.com/schacon/grit.git mygrit</div>
                <p>Este comando faz exatamente a mesma coisa que o anterior, mas o diretório alvo será chamado <b>mygrit</b>.</p>
            </div>
        </div>

    </div>
</article>
