<article class="row" id="email">
    <h2 class="col-xs-12">Email</h2>

    <div id="gitam" class="col-xs-12">
        <h4>git am</h4>
    </div>
    <div id="gitapply2" class="col-xs-12">
        <h4>git apply</h4>
    </div>
    <div id="gitformatpatch" class="col-xs-12">
        <h4>git format-patch</h4>
    </div>
    <div id="gitsendemail" class="col-xs-12">
        <h4>git send-email</h4>
    </div>
    <div id="gitrequestpull" class="col-xs-12">
        <h4>git request-pull</h4>
    </div>
</article>
