<article class="row" id="inspect">
    <h2 class="col-xs-12">Inspeção e Comparação</h2>

    <div id="gitshow" class="col-xs-12">
        <h4>git show</h4>
    </div>
    <div id="gitlog2" class="col-xs-12">
        <h4>git log</h4>
    </div>
    <div id="gitdiff2" class="col-xs-12">
        <h4>git diff</h4>
    </div>
    <div id="gitshortlog" class="col-xs-12">
        <h4>git shortlog</h4>
    </div>
    <div id="gitdescribe" class="col-xs-12">
        <h4>git describe</h4>
    </div>
</article>
