<article class="row" id="patching">
    <h2 class="col-xs-12">Pacotes</h2>

    <div id="gitapply" class="col-xs-12">
        <h4>git apply</h4>
    </div>
    <div id="gitcherrypick" class="col-xs-12">
        <h4>git cherry-pick</h4>
    </div>
    <div id="gitdiff3" class="col-xs-12">
        <h4>git diff</h4>
    </div>
    <div id="gitrebase" class="col-xs-12">
        <h4>git rebase</h4>
    </div>
    <div id="gitrevert" class="col-xs-12">
        <h4>git revert</h4>
    </div>
</article>
