<footer class="row bt1">
    <br>

    <div class="col-xs-4 code">
        <div class="row">
            <div class="col-xs-12">Este site é Open Source e hospedado no <a href="https://github.com/comandosgit/comandosgit.github.io" title="Comandos Git Open Source">GitHub</a>.
            </div>
            <div class="col-xs-12">Pacotes, sugestões e comentários são bem vindos.</div>
        </div>
    </div>
    <div class="col-xs-offset-2 col-xs-3">
        <div class="row">
            <div class="col-xs-12">Developed by:<a href="https://rafaelcg.com?utm_source=comandosgit" title="{{ site.author }}">{{ site.author }}</a>
            </div>
            <div class="col-xs-12">&copy;{{ site.time | date: '%Y' }} <a href="{{ site.url }}{{ site.baseurl }}/">Comandosgit.github.io</a></div>
            <div class="col-xs-12"><a href="https://github.com/comandosgit/comandosgit.github.io/blob/master/LICENSE">License MIT</a></div>
        </div>
    </div>
</footer>
