<header class="row bb1 pb15">
    <br>
    <div class="col-xs-2">
        <div class="row">
            <a href="{{ site.url }}{{ site.baseurl }}/" title="{{ site.title }} - {{ site.tagline }}">
                <img class="center" src="{{ site.baseurl }}/img/comandos-git.png" alt="ComandosGit">
            </a>
        </div>
    </div>
    <div class="col-xs-10">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="mtb0"><b>{{ site.title }}</b></h1>
            </div>
            <div class="col-xs-12">
                <h3 class="mtb0">{{ site.tagline }}</h3>
            </div>
        </div>
    </div>
</header>
